<%- include('partials/header') %>

    <%- include('partials/nav') %>

    <main class="container" id="lists">

        <% lists.forEach(list => { %>

            <div class="list">
                <h2 class="list-title"><a href="/list/<%= list.id %>"><%= list.title %></a></h2>
                <div class="list-body">
                    <ul>

                        <% list.body.split('\n').forEach(item => { %>
                            <li><%= item %></li>
                        <% }) %>

                    </ul>
                </div>

                <% if(list.date_modified !== 'NULL') { %>
                    <p>Modified on <%= list.date_modified.split(' GMT')[0] %></p>
                <% } else { %>
                    <p>Created on <%= list.date_created.toString().split(' GMT')[0] %></p>
                <% } %>

                
            </div>

        <% }) %>

    </main>

    <script>

        let lists = document.querySelectorAll('.list')

        lists.forEach(list => {
            list.addEventListener('click', () => {
                location.href = list.firstElementChild.firstElementChild.href
            })
        })

    </script>

<%- include('partials/footer') %>